<!--
  ~ Created by YSN Studio on 7/5/19 1:36 PM
  ~ Copyright (c) 2019. All right reserved.
  ~ Last modified 6/29/19 8:53 AM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysn.millenial_soccer">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
